$color-black: #333333;
$color-gray: #f2f2f2;
$color-blue: #bad0e2;
$color-label: #fef7ff;
$color-white: #ffffff;
$color-white: #ffffff;
$color-button-blue-background: #2d609b;
$color-button-transparent-text: #2d609b;
$color-button-transparent-border: #79747e;
