@import "../../../public/style/globals.scss";

.wraper {
  padding-top: 90px;
}

.paragraf {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
  color: $color-black;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
}
